@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,300&display=swap');

:root {
    font-family: 'Merriweather', serif;
}

body {
    max-width: 1200px;
    margin: auto;
}

.menu a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #36B14A;
    text-decoration: none;
    padding: 5px;
    /*border: 1px solid transparent;*/
}

.menu a:hover {
    /*border-color: #36B14A */
    /*font-weight: bold; */
    color: #2f8f3f;    
}

@media (min-width: 650px) {
    header nav {
        display: flex;
    }
        header nav .menu {
            display: flex;
            flex: 1;
            justify-content: space-around;
            align-items: center;
        }
}

.social img {
    height: 20px;
    width: 20px;
}

.banner h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}

.banner {
    background: url(../img/blueberry-fresh.svg);
    background-size: cover;
    background-position: center;
    height: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner button {
    color: #ffff;
    background-color: #36B14A;
    padding: 16px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: bold;
}

.banner button:hover {
    background-color: #2f8f3f;
}

main h2 {
    color: black;
    font-size: 20px;
    text-align: center;
}

main h3 {
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

main p {
    font-size: 16px;
    padding: 10px;


}

.buttons button {
    color: #ffff;
    background-color: #36B14A;
    padding: 8px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
}

.buttons button:hover {
    background-color: #2f8f3f;
}

.product-card .buttons {
    display: flex;
    justify-content: space-around;
}

.info-card img {
    max-width: 100%;
    display: block;
    margin: auto;
    padding: 5px;
}

.certificate-card img {
    max-width: 150px;
    display: block;
    margin: auto;
}

@media (min-width: 650px) {
    .certificates-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}@media (min-width: 900px) {
    .certificates-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

.product-card img {
    max-width: 320px;
    display: block;
    margin: auto;
    padding: 5px;
}

@media (min-width: 650px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}@media (min-width: 900px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
